

body{
    margin:0;
    padding: 0;
    background-image:url("Untitled\ design.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   
}
.button-color{
background-color:blueviolet;
color: #fff;

}
.button-container{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0;
}


li {
    list-style: none;
    display: inline-block;
    padding: 0px 100px;
}

a{
color:aqua;

}