

body{
    margin:0;
    padding: 0;
    background-image:url("ttty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   
}
.button-color{
background-color: blue;
color: #fff;

}



nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 40px;
padding-left: 10%;
padding-right: 10%;

}


nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
